extends layout

block content
    h1 This is User Page
    pre #{JSON.stringify(user, null, 4)}

    //- each tweet in userTweets
    //-     h5 #{user.username} once said:
    //-     p  #{tweet.text}